{{>header}}

{{>head}}
<p class="row">Get weather data for any location</p>
<p class="row">Technlogies used to build this site:</p>
<p class="row">darksky API</p>
<p class="row">Mapbox Geocoding API</p>
<p class="row">Node js</p>
<p class="row">Handlebars 'hbs' templating engine</p>
<p class="row">Original concept by Andrew Mead; Adopted from His Udemy course "Complete Nodejs Developer Course(3rd Edition)"</p>
{{>footer}}