{{>header}}
{{>head}}
{{>form}}

<div id="disp">
    <div class="anim" id="anim">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="disp-w">
        <div id="a" class="row"></div>
        <div id="b" class="row"></div>
        <div id="c" class="row"></div>
        <div id="d" class="row"></div>
        <div id="e" class="row"></div>
        <div id="f" class="row"></div>
        <div id="g" class="row"></div>
        <div id="h" class="row"></div>
        <div id="i" class="row"></div>
        <div id="j" class="row"></div>
        <div id="k" class="row"></div>
        <div id="l" class="row"></div>
        <div id="m" class="row"></div>
        <div id="n" class="row"></div>
        <div id="o" class="row"></div>
        
    </div>
</div>
<script src="/js/script.js"></script>
{{>footer}}